<a routerLink = "admin">Admin</a> &nbsp;&nbsp;
<a routerLink = "user">User</a> &nbsp;&nbsp;
<a routerLink = "login">Login</a> &nbsp;&nbsp;
<a routerLink = "register">Register</a>
<router-outlet></router-outlet>

<!-- <h1 style="color: chartreuse;">CSS style normal Header 1</h1>
<h1 [style.color] = "'DarkGreen'">Property binding for style Header 2</h1>
<h1 [style.color] = "color">Dynamic Style Header 3</h1>
<h3 [style.color] = "err ? 'Red' : 'blue'">Conditional styling if the error is true then style Header 4 red else green </h3>
<button mat-button color="primary" (click)= 'updateColor()'>Color</button> -->
[routerMap]