@import '~@angular/material/theming';
@include  mat-core();
$ProductBoard-primary: mat-palette($mat-indigo);
$ProductBoard-accent: mat-palette($mat-pink, A200, A100, A400, A700);
$ProductBoard-warn: mat-palette($mat-red);

/* You can add global styles to this file, and also import other style files */
$ProductBoard-theme: mat-light-theme((
 color: (
  primary: $ProductBoard-primary,
  accent: $ProductBoard-accent,  
  warn: $ProductBoard-warn,
 )
));


$ProductBoard-theme: mat-dark-theme((
 color: (
  primary: $ProductBoard-primary,
  accent: $ProductBoard-accent,  
  warn: $ProductBoard-warn,
 )
));

.dark-theme{
  @include angular-material-theme($ProductBoard-theme: mat-dark-theme);
 }

